/* CSS untuk navbar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap');
body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-nav .nav-link {
    font-weight: 400;
}

.container {
    padding: 20px;
}

#home-intro {
    text-align: center;
}

#home-intro img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

#apa-itu-cyberbullying,
#cara-mencegah,
#dampak-cyberbullying,
#bantuan {
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

#apa-itu-cyberbullying h3,
#cara-mencegah h3,
#dampak-cyberbullying h3,
#bantuan h3 {
    font-weight: 600;
    color: #007bff;
}

.animate-text {
    font-size: 16px;
    color: #111;
    transition: transform 0.5s, opacity 0.5s;
}

/* CSS untuk responsif */
@media screen and (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
